{
  /*
      a preset is a set of plugins used to support particular language features.
      The two presets Babel uses by default: es2015, react
  */
  "presets": [
      "@babel/preset-env", //compiling ES2015+ syntax
      "@babel/preset-react" //for react
  ],
  /*
      Babel's code transformations are enabled by applying plugins (or presets) to your configuration file.
  */
  "plugins": [
      "@babel/plugin-transform-runtime",
      [
        "babel-plugin-root-import",
        {
          "rootPathPrefix": "~/",
          "rootPathSuffix": "./src"
        }
      ]
  ]
}