
{{ if hasKey .Values.env }}
  {{ fail "The Value env has been renamed and moved to brainiac.configEnv. Refer to https://www.brainiac.ai/docs/local/helm_chart#migrate for more information" }}
{{ end }}