/* Daniel AI Custom Styles */

/* Hide the model icons in the sidebar */
[data-testid='convo-item'] > div:first-of-type {
  display: none !important;
}

/* Adjust footer padding */
div[role='contentinfo'] {
  padding-top: 0.9rem !important;
  padding-bottom: 1rem !important;
}

/* Balance form padding */
form.mx-auto.pl-2 {
  padding-right: 0.5rem;
}

/* Fix line breaks in model descriptions */
.break-words.text-xs {
  white-space: pre-line !important;
  line-height: 1.2rem !important;
}

/* Align selected model icon in modelSelect vertically */
div[role='option'] {
  align-items: center;
}

/* Align model logo in modelSelect vertically */
.flex.w-full.min-w-0.gap-2.px-1.py-1.items-start {
  align-items: center;
}
