@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  outline: 1px solid limegreen !important;
} */

/* p small {
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* .LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
} */

.bing-styles {
position: absolute; 
left: 0; 
right: 0; 
opacity: 0;
bottom: 39px;
z-index: 995;
margin-left: auto; 
margin-right: auto; 
width: 308px; /* Need a specific value to work */
transition: all 0.5s ease-in-out;
pointer-events: none;
transform: translateY(-60px);
}

.bing-styles.show {
  /* bottom: -20px; */
  opacity: 1;
  pointer-events: all;
  transform: translateY(-20px);
}

.creative-tab {
  /* background: linear-gradient(90deg, #904887 10.79%, #8B257E 87.08%); */
  background: linear-gradient(90deg, #904887 10.79%, #8B257E 87.08%);
}

.fast-tab {
  background: linear-gradient(90deg, #2870EA 10.79%, #1B4AEF 87.08%);
}

.balanced-tab {
  background: linear-gradient(90deg, #D7871A 10.79%, #9F6005 87.08%);
}

.precise-tab {
  background: linear-gradient(90deg, #006880 10.79%, #005366 87.08%)
}

p > small {
  opacity: 0;
  animation: fadein 3s forwards;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
	margin: 0;
}

.markdown ol li, .markdown ol li > p, .markdown ol ol, .markdown ol ul, .markdown ul li, .markdown ul li > p, .markdown ul ol, .markdown ul ul {
	margin: 0;
}

.scroll-down-enter {
  opacity: 0;
}
/* .scroll-down-appear {
  opacity: 0;
} */

.scroll-down-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.scroll-down-exit {
  opacity: 1;
}

.scroll-down-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursorBlink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink2 {
  animation: blink 1500ms linear infinite;
}
@keyframes blink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prose {
  color:var(--tw-prose-body);
  max-width:65ch
 }
 .prose :where([class~=lead]):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-lead);
  font-size:1.25em;
  line-height:1.6;
  margin-bottom:1.2em;
  margin-top:1.2em
 }
 .prose :where(a):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-links);
  font-weight:500;
  text-decoration:underline
 }
 .prose :where(strong):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-bold);
  font-weight:600
 }
 .prose :where(a strong):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(blockquote strong):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(thead th strong):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(ol):not(:where([class~=not-prose] *)) {
  list-style-type:decimal;
  margin-bottom:0.1em;
  margin-top:0.1em;
  padding-left:1.625em
 }
 .prose :where(ol[type=A]):not(:where([class~=not-prose] *)) {
  list-style-type:upper-alpha
 }
 .prose :where(ol[type=a]):not(:where([class~=not-prose] *)) {
  list-style-type:lower-alpha
 }
 .prose :where(ol[type=A s]):not(:where([class~=not-prose] *)) {
  list-style-type:upper-alpha
 }
 .prose :where(ol[type=a s]):not(:where([class~=not-prose] *)) {
  list-style-type:lower-alpha
 }
 .prose :where(ol[type=I]):not(:where([class~=not-prose] *)) {
  list-style-type:upper-roman
 }
 .prose :where(ol[type=i]):not(:where([class~=not-prose] *)) {
  list-style-type:lower-roman
 }
 .prose :where(ol[type=I s]):not(:where([class~=not-prose] *)) {
  list-style-type:upper-roman
 }
 .prose :where(ol[type=i s]):not(:where([class~=not-prose] *)) {
  list-style-type:lower-roman
 }
 .prose :where(ol[type="1"]):not(:where([class~=not-prose] *)) {
  list-style-type:decimal
 }
 .prose :where(ul):not(:where([class~=not-prose] *)) {
  list-style-type:disc;
  margin-bottom:0.1em;
  margin-top:0.1em;
  padding-left:1.625em
 }
 .prose :where(ol>li):not(:where([class~=not-prose] *))::marker {
  color:var(--tw-prose-counters);
  font-weight:400
 }
 .prose :where(ul>li):not(:where([class~=not-prose] *))::marker {
  color:var(--tw-prose-bullets)
 }
 .prose :where(hr):not(:where([class~=not-prose] *)) {
  border-color:var(--tw-prose-hr);
  border-top-width:1px;
  margin-bottom:3em;
  margin-top:3em
 }
 .prose :where(blockquote):not(:where([class~=not-prose] *)) {
  border-left-color:var(--tw-prose-quote-borders);
  border-left-width:.25rem;
  color:var(--tw-prose-quotes);
  font-style:italic;
  font-style:normal;
  font-weight:500;
  margin-bottom:1.6em;
  margin-top:1.6em;
  padding-left:1em;
  quotes:"\201C""\201D""\2018""\2019"
 }
 .prose :where(blockquote p:first-of-type):not(:where([class~=not-prose] *)):before {
  content:open-quote
 }
 .prose :where(blockquote p:last-of-type):not(:where([class~=not-prose] *)):after {
  content:close-quote
 }
 .prose :where(h1):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-headings);
  font-size:2.25em;
  font-weight:800;
  line-height:1.1111111;
  margin-bottom:.8888889em;
  margin-top:0
 }
 .prose :where(h1 strong):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-weight:900
 }
 .prose :where(h2):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-headings);
  font-size:1.5em;
  font-weight:700;
  line-height:1.3333333;
  margin-bottom:1em;
  margin-top:2em
 }
 .prose :where(h2 strong):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-weight:800
 }
 .prose :where(h3):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-headings);
  font-size:1.25em;
  font-weight:600;
  line-height:1.6;
  margin-bottom:.6em;
  margin-top:1.6em
 }
 .prose :where(h3 strong):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-weight:700
 }
 .prose :where(h4):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-headings);
  font-weight:600;
  line-height:1.5;
  margin-bottom:.5em;
  margin-top:1.5em
 }
 .prose :where(h4 strong):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-weight:700
 }
 .prose :where(img):not(:where([class~=not-prose] *)) {
  margin-bottom:2em;
  margin-top:2em
 }
 .prose :where(figure>*):not(:where([class~=not-prose] *)) {
  margin-bottom:0;
  margin-top:0
 }
 .prose :where(figcaption):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-captions);
  font-size:.875em;
  line-height:1.4285714;
  margin-top:.8571429em
 }
 .prose :where(code):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-code);
  font-size:.875em;
  font-weight:600;
 }
 .prose :where(code):not(:where([class~=not-prose] *)):before {
  content:"`"
 }
 .prose :where(code):not(:where([class~=not-prose] *)):after {
  content:"`"
 }
 .prose :where(a code):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(h1 code):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(h2 code):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-size:.875em
 }
 .prose :where(h3 code):not(:where([class~=not-prose] *)) {
  color:inherit;
  font-size:.9em
 }
 .prose :where(h4 code):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(blockquote code):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(thead th code):not(:where([class~=not-prose] *)) {
  color:inherit
 }
 .prose :where(pre):not(:where([class~=not-prose] *)) {
  background-color:transparent;
  border-radius:.375rem;
  color:currentColor;
  font-size:.875em;
  font-weight:400;
  line-height:1.7142857;
  margin:0;
  overflow-x:auto;
  padding:0
 }
 .prose :where(pre code):not(:where([class~=not-prose] *)) {
  background-color:transparent;
  border-radius:0;
  border-width:0;
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  line-height:inherit;
  padding:0
 }
 .prose :where(pre code):not(:where([class~=not-prose] *)):before {
  content:none
 }
 .prose :where(pre code):not(:where([class~=not-prose] *)):after {
  content:none
 }
 .prose :where(table):not(:where([class~=not-prose] *)) {
  font-size:.875em;
  line-height:1.7142857;
  margin-bottom:2em;
  margin-top:2em;
  table-layout:auto;
  text-align:left;
  width:100%
 }
 .prose :where(thead):not(:where([class~=not-prose] *)) {
  border-bottom-color:var(--tw-prose-th-borders);
  border-bottom-width:1px
 }
 .prose :where(thead th):not(:where([class~=not-prose] *)) {
  color:var(--tw-prose-headings);
  font-weight:600;
  padding-bottom:.5714286em;
  padding-left:.5714286em;
  padding-right:.5714286em;
  vertical-align:bottom
 }
 .prose :where(tbody tr):not(:where([class~=not-prose] *)) {
  border-bottom-color:var(--tw-prose-td-borders);
  border-bottom-width:1px
 }
 .prose :where(tbody tr:last-child):not(:where([class~=not-prose] *)) {
  border-bottom-width:0
 }
 .prose :where(tbody td):not(:where([class~=not-prose] *)) {
  vertical-align:baseline
 }
 .prose :where(tfoot):not(:where([class~=not-prose] *)) {
  border-top-color:var(--tw-prose-th-borders);
  border-top-width:1px
 }
 .prose :where(tfoot td):not(:where([class~=not-prose] *)) {
  vertical-align:top
 }
 .prose {
  --tw-prose-body:#374151;
  --tw-prose-headings:#111827;
  --tw-prose-lead:#4b5563;
  --tw-prose-links:#111827;
  --tw-prose-bold:#111827;
  --tw-prose-counters:#6b7280;
  --tw-prose-bullets:#d1d5db;
  --tw-prose-hr:#e5e7eb;
  --tw-prose-quotes:#111827;
  --tw-prose-quote-borders:#e5e7eb;
  --tw-prose-captions:#6b7280;
  --tw-prose-code:#111827;
  --tw-prose-pre-code:#e5e7eb;
  --tw-prose-pre-bg:#1f2937;
  --tw-prose-th-borders:#d1d5db;
  --tw-prose-td-borders:#e5e7eb;
  --tw-prose-invert-body:#d1d5db;
  --tw-prose-invert-headings:#fff;
  --tw-prose-invert-lead:#9ca3af;
  --tw-prose-invert-links:#fff;
  --tw-prose-invert-bold:#fff;
  --tw-prose-invert-counters:#9ca3af;
  --tw-prose-invert-bullets:#4b5563;
  --tw-prose-invert-hr:#374151;
  --tw-prose-invert-quotes:#f3f4f6;
  --tw-prose-invert-quote-borders:#374151;
  --tw-prose-invert-captions:#9ca3af;
  --tw-prose-invert-code:#fff;
  --tw-prose-invert-pre-code:#d1d5db;
  --tw-prose-invert-pre-bg:rgba(0,0,0,.5);
  --tw-prose-invert-th-borders:#4b5563;
  --tw-prose-invert-td-borders:#374151;
  font-size:1rem;
  line-height:1.75
 }
 .prose :where(p):not(:where([class~=not-prose] *)) {
  margin-bottom:-1em;
  margin-top:0.3em
 }
 .prose :where(video):not(:where([class~=not-prose] *)) {
  margin-bottom:2em;
  margin-top:2em
 }
 .prose :where(figure):not(:where([class~=not-prose] *)) {
  margin-bottom:2em;
  margin-top:2em
 }
 .prose :where(li):not(:where([class~=not-prose] *)) {
  margin-bottom:.5em;
  margin-top:.5em
 }
 .prose :where(ol>li):not(:where([class~=not-prose] *)) {
  padding-left:.375em
 }
 .prose :where(ul>li):not(:where([class~=not-prose] *)) {
  padding-left:.375em
 }
 .prose :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.75em;
  margin-top:.75em
 }
 .prose :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.25em
 }
 .prose :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.25em
 }
 .prose :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.25em
 }
 .prose :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.25em
 }
 .prose :where(ul ul,
 ul ol,
 ol ul,
 ol ol):not(:where([class~=not-prose] *)) {
  margin-bottom:.75em;
  margin-top:.75em
 }
 .prose :where(hr+*):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose :where(h2+*):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose :where(h3+*):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose :where(h4+*):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose :where(thead th:first-child):not(:where([class~=not-prose] *)) {
  padding-left:0
 }
 .prose :where(thead th:last-child):not(:where([class~=not-prose] *)) {
  padding-right:0
 }
 .prose :where(tbody td,
 tfoot td):not(:where([class~=not-prose] *)) {
  padding:.5714286em
 }
 .prose :where(tbody td:first-child,
 tfoot td:first-child):not(:where([class~=not-prose] *)) {
  padding-left:0
 }
 .prose :where(tbody td:last-child,
 tfoot td:last-child):not(:where([class~=not-prose] *)) {
  padding-right:0
 }
 .prose :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }
 .prose-sm :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.5714286em;
  margin-top:.5714286em
 }
 .prose-sm :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.1428571em
 }
 .prose-sm :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.1428571em
 }
 .prose-sm :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.1428571em
 }
 .prose-sm :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.1428571em
 }
 .prose-sm :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose-sm :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }
 .prose-base :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.75em;
  margin-top:.75em
 }
 .prose-base :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.25em
 }
 .prose-base :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.25em
 }
 .prose-base :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.25em
 }
 .prose-base :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.25em
 }
 .prose-base :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose-base :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }
 .prose-lg :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.8888889em;
  margin-top:.8888889em
 }
 .prose-lg :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.3333333em
 }
 .prose-lg :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.3333333em
 }
 .prose-lg :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.3333333em
 }
 .prose-lg :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.3333333em
 }
 .prose-lg :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose-lg :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }
 .prose-xl :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.8em;
  margin-top:.8em
 }
 .prose-xl :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.2em
 }
 .prose-xl :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.2em
 }
 .prose-xl :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.2em
 }
 .prose-xl :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.2em
 }
 .prose-xl :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose-xl :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }
 .prose-2xl :where(.prose>ul>li p):not(:where([class~=not-prose] *)) {
  margin-bottom:.8333333em;
  margin-top:.8333333em
 }
 .prose-2xl :where(.prose>ul>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.3333333em
 }
 .prose-2xl :where(.prose>ul>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.3333333em
 }
 .prose-2xl :where(.prose>ol>li>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:1.3333333em
 }
 .prose-2xl :where(.prose>ol>li>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:1.3333333em
 }
 .prose-2xl :where(.prose>:first-child):not(:where([class~=not-prose] *)) {
  margin-top:0
 }
 .prose-2xl :where(.prose>:last-child):not(:where([class~=not-prose] *)) {
  margin-bottom:0
 }

code,
pre {
  font-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace !important;
}
code[class='language-plaintext'] {
  white-space: pre-line;
}
code.hljs,
code[class*='language-'],
pre[class*='language-'] {
  word-wrap: normal;
  background: none;
  color: #fff;
  -webkit-hyphens: none;
  hyphens: none;
  font-size: .85rem;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}
pre[class*='language-'] {
  border-radius: 0.3em;
  overflow: auto;
}
:not(pre) > code.hljs,
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}
.hljs-comment {
  color: hsla(0, 0%, 100%, 0.5);
}
.hljs-meta {
  color: hsla(0, 0%, 100%, 0.6);
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e9950c;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword,
.hljs-literal {
  color: #2e95d3;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #00a67d;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #df3079;
}
.hljs-bullet,
.hljs-link,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #f22c3d;
}

.dark .dark\:md\:bg-vert-dark-gradient {
  background-image: linear-gradient(180deg, rgba(53, 55, 64, 0), #353740 58.85%);
}

.md\:bg-vert-light-gradient {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);
}

.md\:\!bg-transparent {
  background-color: transparent !important;
}

[role='button'],
button {
  cursor: pointer;
}

.btn {
  align-items: center;
  border-color: transparent;
  border-radius: 0.25rem;
  border-width: 1px;
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  pointer-events: auto;
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-primary {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(16, 163, 127, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 127, 100, var(--tw-bg-opacity));
}
.btn-primary:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-primary.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(25, 195, 125, var(--tw-ring-opacity));
}
.btn-primary:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(25, 195, 125, var(--tw-ring-opacity));
}
.btn-primary:disabled:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 163, 127, var(--tw-bg-opacity));
}
.btn-secondary {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
  color: rgba(67, 56, 202, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(199, 210, 254, var(--tw-bg-opacity));
}
.btn-secondary:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-secondary.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-secondary:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-neutral {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  color: rgba(64, 65, 79, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-neutral:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 241, var(--tw-bg-opacity));
}
.btn-neutral:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-neutral.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-neutral:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.dark .btn-neutral {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
  color: rgba(217, 217, 227, var(--tw-text-opacity));
}
.dark .btn-neutral:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.btn-dark {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
  border-width: 1px;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-dark:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.btn-small {
  padding: 0.25rem 0.5rem;
}

::-webkit-scrollbar {
  height: 0.85em;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  /* background-color: rgba(217,217,227,.8); Original */
  background-color: rgba(217, 217, 227, 0.26);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

body,
html {
  height: 100%;
}

.dark body,
.dark html {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
}

#__next,
#root {
  height: 100%;
}

.markdown ol {
  counter-reset: item;
}

.markdown ul li {
  display: block;
  margin: 0;
  position: relative;
}

.markdown ul li:before {
  content: '•';
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: -1rem;
  position: absolute;
}

.markdown {
  max-width: none;
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
}

.markdown h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.markdown h3 {
  font-weight: 600;
}

.markdown h3,
.markdown h4 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.markdown h4 {
  font-weight: 400;
}

.markdown h5 {
  font-weight: 600;
}

.markdown blockquote {
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 160, var(--tw-border-opacity));
  border-left-width: 2px;
  line-height: 1rem;
  padding-left: 1rem;
}

/* .markdown ol, */
.markdown ul {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ol li,
.markdown ol li > p,
.markdown ol ol,
.markdown ol ul,
.markdown ul li,
.markdown ul li > p,
.markdown ul ol,
.markdown ul ul {
  margin: 0;
}

.markdown table {
  --tw-border-spacing-x: 0px;
  --tw-border-spacing-y: 0px;
  border-collapse: separate;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  width: 100%;
}

.markdown th {
  background-color: rgba(236, 236, 241, 0.2);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  padding: 0.25rem 0.75rem;
}

.markdown th:first-child {
  border-top-left-radius: 0.375rem;
}

.markdown th:last-child {
  border-right-width: 1px;
  border-top-right-radius: 0.375rem;
}

.markdown td {
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 0.25rem 0.75rem;
}

.markdown td:last-child {
  border-right-width: 1px;
}

.markdown tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.375rem;
}

.markdown tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.375rem;
}

.markdown a {
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.animate-flash {
  -webkit-animation: flash 2s steps(60, start);
  animation: flash 2s steps(60, start);
}

@-webkit-keyframes flash {
  0% {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
}

@keyframes flash {
  0% {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis,
.truncate {
  text-overflow: ellipsis;
}

.shadow-\[0_0_10px_rgba\(0\2c 0\2c 0\2c 0\.10\)\],
.shadow-lg {
  box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.group:hover .group-hover\:visible {
  visibility: visible;
}
.group:hover .group-hover\:from-\[\#2A2B32\] {
  --tw-gradient-from: #2a2b32;
  --tw-gradient-to: rgba(42, 43, 50, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.group:hover .group-hover\:text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 160, var(--tw-text-opacity));
}
.group:hover .group-hover\:text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(64, 65, 79, var(--tw-text-opacity));
}
.dark .dark\:prose-invert {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}
.dark .dark\:border-gray-600 {
  --tw-border-opacity: 1;
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
}
.dark .dark\:border-gray-900\/50 {
  border-color: rgba(32, 33, 35, 0.5);
}
.dark .dark\:border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgba(64, 65, 79, var(--tw-border-opacity));
}
.dark .dark\:border-white\/20 {
  border-color: hsla(0, 0%, 100%, 0.2);
}
.dark .dark\:border-white\/10 {
  border-color: hsla(0, 0%, 100%, 0.1);
}
.dark .dark\:border-black\/20 {
  border-color: rgba(0, 0, 0, 0.2);
}
.dark .dark\:bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
}
.dark .dark\:bg-\[\#444654\] {
  --tw-bg-opacity: 1;
  background-color: rgba(68, 70, 84, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.dark .dark\:bg-gray-800\/90 {
  background-color: rgba(52, 53, 65, 0.9);
}
.dark .dark\:bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgba(32, 33, 35, var(--tw-bg-opacity));
}
.dark .dark\:bg-transparent {
  background-color: transparent;
}
.dark .dark\:bg-white\/10 {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.dark .dark\:bg-white\/5 {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.dark .dark\:bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(142, 142, 160, var(--tw-bg-opacity));
}
.dark .dark\:bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 127, 100, var(--tw-bg-opacity));
}
.dark .dark\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(236, 236, 241, var(--tw-text-opacity));
}
.dark .dark\:text-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(217, 217, 227, var(--tw-text-opacity));
}
.dark .dark\:text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(172, 172, 190, var(--tw-text-opacity));
}
.dark .dark\:text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.dark .dark\:text-white\/50 {
  color: hsla(0, 0%, 100%, 0.5);
}
.dark .dark\:text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(86, 88, 105, var(--tw-text-opacity));
}
.dark .dark\:text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 160, var(--tw-text-opacity));
}
.dark .dark\:text-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(197, 197, 210, var(--tw-text-opacity));
}
.dark .dark\:opacity-100 {
  opacity: 1;
}
.dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  --tw-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 15px var(--tw-shadow-color);
  box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.dark .dark\:ring-gray-600 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(86, 88, 105, var(--tw-ring-opacity));
}
.dark .dark\:ring-white\/20 {
  --tw-ring-color: hsla(0, 0%, 100%, 0.2);
}
.dark .dark\:last\:border-0:last-child {
  border-width: 0;
}
.dark .dark\:hover\:bg-black\/10:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dark .dark\:hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-gray-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(32, 33, 35, var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 241, var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-gray-500\/10:hover {
  background-color: hsla(240, 9%, 59%, 0.1);
}
.dark .dark\:hover\:text-gray-200:hover {
  --tw-text-opacity: 1;
  color: rgba(217, 217, 227, var(--tw-text-opacity));
}
.dark .dark\:hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.dark .dark\:hover\:text-gray-400:hover {
  --tw-text-opacity: 1;
  color: rgba(172, 172, 190, var(--tw-text-opacity));
}
.dark .dark\:focus\:border-white:focus {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.dark .dark\:focus\:ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}
.dark .dark\:disabled\:text-gray-400:disabled {
  --tw-text-opacity: 1;
  color: rgba(172, 172, 190, var(--tw-text-opacity));
}
.dark .dark\:disabled\:hover\:bg-transparent:hover:disabled {
  background-color: transparent;
}
.dark .disabled\:dark\:hover\:text-gray-400:hover:disabled {
  --tw-text-opacity: 1;
  color: rgba(172, 172, 190, var(--tw-text-opacity));
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.result-streaming {
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
  content:"▋";
  margin-left: 0.25rem;
  vertical-align: baseline;
}

/* .result-streaming>:not(ol):not(ul):not(pre):last-child:after,
.result-streaming>ol:last-child li:last-child:after,
.result-streaming>pre:last-child code:after,
.result-streaming>ul:last-child li:last-child:after {
 -webkit-animation:blink 1s steps(5,start) infinite;
 animation:blink 1s steps(5,start) infinite;
 content:"▋";
 margin-left:.25rem;
 vertical-align:baseline
} */

.form-input,
.form-multiselect,
.form-select,
.form-textarea {
 --tw-shadow:0 0 transparent;
 -webkit-appearance:none;
 appearance:none;
 background-color:#fff;
 border-color:#8e8ea0;
 border-radius:0;
 border-width:1px;
 font-size:1rem;
 line-height:1.5rem;
 padding:.5rem .75rem
}
.form-input:focus,
.form-multiselect:focus,
.form-select:focus,
.form-textarea:focus {
 --tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);
 --tw-ring-offset-width:0px;
 --tw-ring-offset-color:#fff;
 --tw-ring-color:#2563eb;
 --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
 --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
 border-color:#2563eb;
 box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
 outline:2px solid transparent;
 outline-offset:2px
}
.form-input::-webkit-input-placeholder,
.form-textarea::-webkit-input-placeholder {
 color:#8e8ea0;
 opacity:1
}
.form-input::placeholder,
.form-textarea::placeholder {
 color:#8e8ea0;
 opacity:1
}
.form-input::-webkit-datetime-edit-fields-wrapper {
 padding:0
}
.form-input::-webkit-date-and-time-value {
 min-height:1.5em
}
.form-input::-webkit-datetime-edit,
.form-input::-webkit-datetime-edit-day-field,
.form-input::-webkit-datetime-edit-hour-field,
.form-input::-webkit-datetime-edit-meridiem-field,
.form-input::-webkit-datetime-edit-millisecond-field,
.form-input::-webkit-datetime-edit-minute-field,
.form-input::-webkit-datetime-edit-month-field,
.form-input::-webkit-datetime-edit-second-field,
.form-input::-webkit-datetime-edit-year-field {
 padding-bottom:0;
 padding-top:0
}

.grow {
 flex-grow:1
}
.-translate-y-1\/2 {
 --tw-translate-y:-50%
}
.-translate-y-1\/2,
.translate-y-\[calc\(100\%-71px\)\] {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-\[calc\(100\%-71px\)\] {
 --tw-translate-y:calc(100% - 71px)
}
.-translate-x-full {
 --tw-translate-x:-100%
}
.-translate-x-full,
.translate-y-4 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-4 {
 --tw-translate-y:1rem
}
.translate-y-0 {
 --tw-translate-y:0px
}
.translate-x-0,
.translate-y-0 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-0 {
 --tw-translate-x:0px
}
.translate-y-1 {
 --tw-translate-y:0.25rem
}
.-translate-x-1\/2,
.translate-y-1 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-x-1\/2 {
 --tw-translate-x:-50%
}
.translate-x-1 {
 --tw-translate-x:0.25rem
}
.-translate-y-full,
.translate-x-1 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-full {
 --tw-translate-y:-100%
}
.translate-x-full {
 --tw-translate-x:100%
}
.translate-x-5,
.translate-x-full {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-5 {
 --tw-translate-x:1.25rem
}
.translate-x-4 {
 --tw-translate-x:1rem
}
.translate-x-4,
.translate-y-1\/4 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-y-1\/4 {
 --tw-translate-y:25%
}
.-translate-x-3\/4 {
 --tw-translate-x:-75%
}
.-translate-x-3\/4,
.translate-x-3\/4 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-3\/4 {
 --tw-translate-x:75%
}
.rotate-180 {
 --tw-rotate:180deg
}
.-rotate-180,
.rotate-180 {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-rotate-180 {
 --tw-rotate:-180deg
}
.transform {
 -webkit-transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
 transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.border-white\/10 {
 border-color:hsla(0,0%,100%,.1)
}
.border-white {
 --tw-border-opacity:1;
 border-color:rgba(255,255,255,var(--tw-border-opacity))
}
.border-gray-300 {
 --tw-border-opacity:1;
 border-color:rgba(197,197,210,var(--tw-border-opacity))
}
.border-black\/10 {
 border-color:rgba(0,0,0,.1)
}
.border-white\/20 {
 border-color:hsla(0,0%,100%,.2)
}
.border-gray-100 {
 --tw-border-opacity:1;
 border-color:rgba(236,236,241,var(--tw-border-opacity))
}
.border-gray-200 {
 --tw-border-opacity:1;
 border-color:rgba(217,217,227,var(--tw-border-opacity))
}
.border-black\/20 {
 border-color:rgba(0,0,0,.2)
}
.border-gray-500 {
 --tw-border-opacity:1;
 border-color:rgba(142,142,160,var(--tw-border-opacity))
}
.bg-gray-200 {
 --tw-bg-opacity:1;
 background-color:rgba(217,217,227,var(--tw-bg-opacity))
}
.bg-\[\#5436DA\] {
 --tw-bg-opacity:1;
 background-color:rgba(84,54,218,var(--tw-bg-opacity))
}
.bg-white {
 --tw-bg-opacity:1;
 background-color:rgba(255,255,255,var(--tw-bg-opacity))
}
.bg-black {
 --tw-bg-opacity:1;
 background-color:rgba(0,0,0,var(--tw-bg-opacity))
}
.bg-gray-800 {
 --tw-bg-opacity:1;
 background-color:rgba(52,53,65,var(--tw-bg-opacity))
}
.bg-gray-50 {
 --tw-bg-opacity:1;
 background-color:rgba(247,247,248,var(--tw-bg-opacity))
}
.bg-gray-500\/90 {
 background-color:hsla(240,9%,59%,.9)
}
.bg-gray-900 {
 --tw-bg-opacity:1;
 background-color:rgba(32,33,35,var(--tw-bg-opacity))
}
.bg-gray-600 {
 --tw-bg-opacity:1;
 background-color:rgba(86,88,105,var(--tw-bg-opacity))
}
.bg-gray-500 {
 --tw-bg-opacity:1;
 background-color:rgba(142,142,160,var(--tw-bg-opacity))
}
.\!bg-white {
 --tw-bg-opacity:1!important;
 background-color:rgba(255,255,255,var(--tw-bg-opacity))!important
}
.bg-red-200 {
 --tw-bg-opacity:1;
 background-color:rgba(254,202,202,var(--tw-bg-opacity))
}
.\!bg-indigo-600 {
 --tw-bg-opacity:1!important;
 background-color:rgba(79,70,229,var(--tw-bg-opacity))!important
}
.\!bg-gray-200 {
 --tw-bg-opacity:1!important;
 background-color:rgba(217,217,227,var(--tw-bg-opacity))!important
}
.bg-red-500\/10 {
 background-color:rgba(239,68,68,.1)
}
.bg-gray-300 {
 --tw-bg-opacity:1;
 background-color:rgba(197,197,210,var(--tw-bg-opacity))
}
.bg-gray-400 {
 --tw-bg-opacity:1;
 background-color:rgba(172,172,190,var(--tw-bg-opacity))
}
.bg-opacity-75 {
 --tw-bg-opacity:0.75
}
.bg-gradient-to-l {
 background-image:linear-gradient(to left,var(--tw-gradient-stops))
}
.from-gray-800 {
 --tw-gradient-from:#343541;
 --tw-gradient-to:rgba(52,53,65,0);
 --tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to)
}
.from-gray-900 {
 --tw-gradient-from:#202123;
 --tw-gradient-to:rgba(32,33,35,0);
 --tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to)
}
.text-red-500 {
 --tw-text-opacity:1;
 color:rgba(239,68,68,var(--tw-text-opacity))
}
.text-gray-400 {
 --tw-text-opacity:1;
 color:rgba(172,172,190,var(--tw-text-opacity))
}
.text-gray-500 {
 --tw-text-opacity:1;
 color:rgba(142,142,160,var(--tw-text-opacity))
}
.text-white {
 --tw-text-opacity:1;
 color:rgba(255,255,255,var(--tw-text-opacity))
}
.text-yellow-900 {
 --tw-text-opacity:1;
 color:rgba(146,114,1,var(--tw-text-opacity))
}
.text-green-700 {
 --tw-text-opacity:1;
 color:rgba(26,127,100,var(--tw-text-opacity))
}
.text-gray-800 {
 --tw-text-opacity:1;
 color:rgba(52,53,65,var(--tw-text-opacity))
}
.text-gray-700 {
 --tw-text-opacity:1;
 color:rgba(64,65,79,var(--tw-text-opacity))
}
.text-gray-200 {
 --tw-text-opacity:1;
 color:rgba(217,217,227,var(--tw-text-opacity))
}
.text-gray-100 {
 --tw-text-opacity:1;
 color:rgba(236,236,241,var(--tw-text-opacity))
}
.text-gray-300 {
 --tw-text-opacity:1;
 color:rgba(197,197,210,var(--tw-text-opacity))
}
.text-gray-900 {
 --tw-text-opacity:1;
 color:rgba(32,33,35,var(--tw-text-opacity))
}
.text-gray-600 {
 --tw-text-opacity:1;
 color:rgba(86,88,105,var(--tw-text-opacity))
}
.text-red-600 {
 --tw-text-opacity:1;
 color:rgba(220,38,38,var(--tw-text-opacity))
}
.text-yellow-700 {
 --tw-text-opacity:1;
 color:rgba(161,98,7,var(--tw-text-opacity))
}
.text-indigo-500 {
 --tw-text-opacity:1;
 color:rgba(99,102,241,var(--tw-text-opacity))
}
.text-red-800 {
 --tw-text-opacity:1;
 color:rgba(153,27,27,var(--tw-text-opacity))
}
.text-black\/50 {
 color:rgba(0,0,0,.5)
}
.text-indigo-600 {
 --tw-text-opacity:1;
 color:rgba(79,70,229,var(--tw-text-opacity))
}
.text-yellow-400 {
 --tw-text-opacity:1;
 color:rgba(255,198,87,var(--tw-text-opacity))
}
.text-red-300 {
 --tw-text-opacity:1;
 color:rgba(252,165,165,var(--tw-text-opacity))
}
.text-green-600 {
 --tw-text-opacity:1;
 color:rgba(16,163,127,var(--tw-text-opacity))
}
.text-orange-500 {
 --tw-text-opacity:1;
 color:rgba(224,108,43,var(--tw-text-opacity))
}
.text-blue-500 {
 --tw-text-opacity:1;
 color:rgba(59,130,246,var(--tw-text-opacity))
}
.underline {
 text-decoration-line:underline
}
.\!no-underline {
 text-decoration-line:none!important
}
.placeholder-gray-500::-webkit-input-placeholder {
 --tw-placeholder-opacity:1;
 color:rgba(142,142,160,var(--tw-placeholder-opacity))
}
.placeholder-gray-500::placeholder {
 --tw-placeholder-opacity:1;
 color:rgba(142,142,160,var(--tw-placeholder-opacity))
}

.transition-transform {
 transition-duration:.15s;
 transition-property:-webkit-transform;
 transition-property:transform;
 transition-property:transform,-webkit-transform;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.transition {
 transition-duration:.15s;
 transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
 transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
 transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.transition-opacity {
 transition-duration:.15s;
 transition-property:opacity;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.transition-all {
 transition-duration:.15s;
 transition-property:all;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.transition-colors {
 transition-duration:.15s;
 transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.transition-width {
 transition-duration:.15s;
 transition-property:width;
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.duration-200 {
 transition-duration:.2s
}
.duration-500 {
 transition-duration:.5s
}
.duration-75 {
 transition-duration:75ms
}
.duration-300 {
 transition-duration:.3s
}
.duration-150 {
 transition-duration:.15s
}
.duration-100 {
 transition-duration:.1s
}
.ease-out {
 transition-timing-function:cubic-bezier(0,0,.2,1)
}
.ease-in {
 transition-timing-function:cubic-bezier(.4,0,1,1)
}
.ease-linear {
 transition-timing-function:linear
}
.ease-in-out {
 transition-timing-function:cubic-bezier(.4,0,.2,1)
}
.line-clamp-2 {
 -webkit-line-clamp:2
}
.line-clamp-2,
.line-clamp-3 {
 -webkit-box-orient:vertical;
 display:-webkit-box;
 overflow:hidden
}
.line-clamp-3 {
 -webkit-line-clamp:3
}
body,
html {
 height:100%
}
.dark body,
.dark html {
 --tw-bg-opacity:1;
 background-color:rgba(52,53,65,var(--tw-bg-opacity))
}
#__next,
#root {
 height:100%
}
.markdown ol {
 counter-reset:item
}
.markdown ul li {
 display:block;
 margin:0;
 position:relative
}
.markdown ul li:before {
 content:"•";
 font-size:.875rem;
 line-height:1.25rem;
 margin-left:-1rem;
 position:absolute
}
.markdown {
 max-width:none
}
.markdown h1,
.markdown h2 {
 font-weight:600
}
.markdown h2 {
 margin-bottom:1rem;
 margin-top:2rem
}
.markdown h3 {
 font-weight:600
}
.markdown h3,
.markdown h4 {
 margin-bottom:.5rem;
 margin-top:1rem
}
.markdown h4 {
 font-weight:400
}
.markdown h5 {
 font-weight:600
}
.markdown blockquote {
 --tw-border-opacity:1;
 border-color:rgba(142,142,160,var(--tw-border-opacity));
 border-left-width:2px;
 line-height:1rem;
 padding-left:1rem
}
.markdown ol,
.markdown ul {
 display:flex;
 flex-direction:column;
 padding-left:1rem
}
.markdown ol li,
.markdown ol li>p,
.markdown ol ol,
.markdown ol ul,
.markdown ul li,
.markdown ul li>p,
.markdown ul ol,
.markdown ul ul {
 margin:0
}
.markdown table {
 --tw-border-spacing-x:0px;
 --tw-border-spacing-y:0px;
 border-collapse:separate;
 border-spacing:var(--tw-border-spacing-x) var(--tw-border-spacing-y);
 width:100%
}
.markdown th {
 background-color:rgba(236,236,241,.2);
 border-bottom-width:1px;
 border-left-width:1px;
 border-top-width:1px;
 padding:.25rem .75rem
}
.markdown th:first-child {
 border-top-left-radius:.375rem
}
.markdown th:last-child {
 border-right-width:1px;
 border-top-right-radius:.375rem
}
.markdown td {
 border-bottom-width:1px;
 border-left-width:1px;
 padding:.25rem .75rem
}
.markdown td:last-child {
 border-right-width:1px
}
.markdown tbody tr:last-child td:first-child {
 border-bottom-left-radius:.375rem
}
.markdown tbody tr:last-child td:last-child {
 border-bottom-right-radius:.375rem
}
.markdown a {
 text-decoration-line:underline;
 text-underline-offset:2px
}
.conversation-item-time:before {
 content:attr(data-time)
}
.tooltip-label:before {
 content:attr(data-content)
}
button.scroll-convo {
 display:none
}
@-webkit-keyframes blink {
 to {
  visibility:hidden
 }
}
@keyframes blink {
 to {
  visibility:hidden
 }
}
.animate-flash {
 -webkit-animation:flash 2s steps(60,start);
 animation:flash 2s steps(60,start)
}
@-webkit-keyframes flash {
 0% {
  background-color:hsla(0,0%,100%,.4)
 }
}
@keyframes flash {
 0% {
  background-color:hsla(0,0%,100%,.4)
 }
}
.hidden-visibility {
  visibility: hidden;
}
