version: "3.4"

services:
  # client:
  #   image: nginx-client
  #   build:
  #     context: .
  #     target: nginx-client
  #   restart: always
  #   ports:
  #     - 3080:80
  #   volumes:
  #     - /client/node_modules
  #   depends_on:
  #     - api
  api:
    ports:
      - 3080:3080               # Change it to 9000:3080 if you want to use nginx
    depends_on:
      - mongodb
    image: node-api
    build:
      context: .
      target: node-api
    restart: always
    env_file:
      - ./api/.env
    environment:
      - HOST=0.0.0.0
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongodb:27017/chatgpt-clone
    volumes:
      - /client/node_modules
      - ./api:/api
      - /api/node_modules
  mongodb:
    ports:
      - 27018:27017
    image: mongo
    restart: always
    container_name: mongodb
    volumes:
      - ./data-node:/data/db
    command: mongod --noauth
  meilisearch:
    image: getmeili/meilisearch:v1.0
    ports:
      - 7700:7700
    env_file:
      - ./api/.env
    volumes:
      - ./meili_data:/meili_data
