version: 1.2.8
cache: false
interface:
  agents: true
  multiConvo: true
memory:
  disabled: false
  personalize: true
  tokenLimit: 2000
  messageWindowSize: 5
  agent:
    provider: "OpenAI_models"
    model: "gpt-5-mini"
    instructions: |
      Store information only in the specified validKeys categories.
      Focus on explicitly stated preferences and important facts.
      Delete outdated or corrected information promptly.
endpoints:
  agents:
    disableBuilder: false
    capabilities: ["file_search","context","tools","actions"]
  custom:
    - name: "OpenAI_models"
      apiKey: "${OPENAIMODELS_API_KEY}"
      baseURL: "http://litellm:8000/v1"
      models:
        default: ["gpt-5-mini"]
        fetch: true
      titleConvo: true
      titleModel: "current_model"
      modelDisplayLabel: "OpenAi"
      customParams:
        defaultParamsEndpoint: 'openAI'
        paramDefinitions:
           - key: web_search
             default: true
    - name: "Anthropic_models"
      apiKey: "${ANTHROPICMODELS_API_KEY}"
      baseURL: "http://litellm:8000/v1"
      models:
        default: ["claude-haiku-4-5"]
        fetch: true
      titleConvo: true
      titleModel: "current_model"
      modelDisplayLabel: "Anthropic"
      customParams:
        defaultParamsEndpoint: 'anthropic'
        paramDefinitions:
           - key: web_search
             default: true

    - name: "Google_models"
      apiKey: "${GOOGLEMODELS_API_KEY}"
      baseURL: "http://litellm:8000/v1"
      models:
        default: ["gemini-2.5-flash"]
        fetch: true
      titleConvo: true
      titleModel: "current_model"
      modelDisplayLabel: "Google"
      customParams:
        defaultParamsEndpoint: 'google'
        paramDefinitions:
           - key: web_search
             default: false
mcpServers:
  scholar:
    type: stdio
    command: node
    args:
      - /mcp-scholar/build/stdio-entry.js
  ieee:
    type: stdio
    command: node
    args:
      - /mcp-ieee/build/stdio-entry.js
    env:
      IEEE_API_KEY: "${IEEE_API_KEY}"
      IEEE_AUTH_TOKEN: "${IEEE_AUTH_TOKEN}"
speech:
  stt:
    openai:
      url: "http://litellm:8000/v1/audio/transcriptions"
      apiKey: "${WHISPER_API_KEY}"
      model: "whisper-1"
