# Test database. You can use your actual MONGO_URI if you don't mind it potentially including test data.
MONGO_URI=mongodb://127.0.0.1:27017/chatgpt-jest

# Credential encryption/decryption for testing
CREDS_KEY=c3301ad2f69681295e022fb135e92787afb6ecfeaa012a10f8bb4ddf6b669e6d
CREDS_IV=cd02538f4be2fa37aba9420b5924389f

# For testing the ChatAgent
OPENAI_API_KEY=your-api-key
