<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>你好！ {{name}},</p>
        <h1>你已经请求了重置密码。</h1>
        <p> 请点击下面的链接进行重置密码。</p>
        <a href="{{link}}">重置密码</a>
    </body>
</html>