/* Custom file */

/* Hide prompts and bookmarks sections from side panel */
.sidenav
  .bg-token-sidebar-surface-primary
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1),
.sidenav
  .bg-token-sidebar-surface-primary
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(3) {
  display: none !important;
}

/* Hide bookmarks button form chat list */
#chat-history-nav .sticky > div:nth-child(2) {
  display: none !important;
}

/* Hide bookmarks button above chat */
.sticky.top-0.z-10.flex.h-14.w-full.items-center.justify-between.bg-white.p-2.font-semibold.dark\:bg-gray-800.dark\:text-white
  > div:nth-child(1)
  > div:nth-child(1) {
  display: none !important;
}

/* Hide bookmarks on mobile left sidebar
#chat-history-nav > div:nth-child(1) > div:nth-child(1) {
  display: none !important;
} */

/* Login page logo */
#root > .relative.flex.min-h-screen.flex-col > .mt-12.h-24.w-full.bg-cover::before {
  content: url('https://blog.comunicativi.it/wp-content/uploads/2024/08/c-logo.svg');
  width: 96px;
  height: 96px;
  display: block;
  margin: auto;
}
#root > .relative.flex.min-h-screen.flex-col > .mt-12.h-24.w-full.bg-cover img {
  display: none !important;
}
