<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <h1>You have requested to reset your password.</h1>
        <p> Please click the link below to reset your password.</p>
        <a href="{{link}}">Reset Password</a>
    </body>
</html>