apiVersion: v1
kind: Service
metadata:
  name: librechat-api
  namespace: {{ .Release.Namespace }}
  labels:
    app: librechat-api
    {{- include "accessllm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 3080
    protocol: TCP
    name: http
  selector:
    app: librechat-api
