@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  outline: 1px solid limegreen !important;
} */

.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursorBlink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink2 {
  animation: blink 1500ms linear infinite;
}
@keyframes blink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark .dark\:md\:bg-vert-dark-gradient {
  background-image: linear-gradient(180deg, rgba(53, 55, 64, 0), #353740 58.85%);
}

.md\:bg-vert-light-gradient {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 13.94%, #fff 54.73%);
}

.md\:\!bg-transparent {
  background-color: transparent !important;
}

[role='button'],
button {
  cursor: pointer;
}

.btn {
  align-items: center;
  border-color: transparent;
  border-radius: 0.25rem;
  border-width: 1px;
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  pointer-events: auto;
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-primary {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(16, 163, 127, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 127, 100, var(--tw-bg-opacity));
}
.btn-primary:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-primary.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(25, 195, 125, var(--tw-ring-opacity));
}
.btn-primary:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(25, 195, 125, var(--tw-ring-opacity));
}
.btn-primary:disabled:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 163, 127, var(--tw-bg-opacity));
}
.btn-secondary {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
  color: rgba(67, 56, 202, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(199, 210, 254, var(--tw-bg-opacity));
}
.btn-secondary:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-secondary.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-secondary:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-neutral {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  color: rgba(64, 65, 79, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.btn-neutral:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 241, var(--tw-bg-opacity));
}
.btn-neutral:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}
.btn-neutral.focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.btn-neutral:focus-visible {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.dark .btn-neutral {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
  color: rgba(217, 217, 227, var(--tw-text-opacity));
}
.dark .btn-neutral:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.btn-dark {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
  border-color: rgba(86, 88, 105, var(--tw-border-opacity));
  border-width: 1px;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.btn-dark:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(64, 65, 79, var(--tw-bg-opacity));
}
.btn-small {
  padding: 0.25rem 0.5rem;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  /* background-color: rgba(217,217,227,.8); Original */
  background-color: rgba(217, 217, 227, 0.26);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

body,html {
  height: 100%
}

.dark body,.dark html {
  --tw-bg-opacity: 1;
  background-color: rgba(52,53,65,var(--tw-bg-opacity))
}

#__next,#root {
  height: 100%
}

.markdown ol {
  counter-reset: item
}

.markdown ul li {
  display: block;
  margin: 0;
  position: relative
}

.markdown ul li:before {
  content: "•";
  font-size: .875rem;
  line-height: 1.25rem;
  margin-left: -1rem;
  position: absolute
}

.markdown {
  max-width: none
}

.markdown h1,.markdown h2 {
  font-weight: 600
}

.markdown h2 {
  margin-bottom: 1rem;
  margin-top: 2rem
}

.markdown h3 {
  font-weight: 600
}

.markdown h3,.markdown h4 {
  margin-bottom: .5rem;
  margin-top: 1rem
}

.markdown h4 {
  font-weight: 400
}

.markdown h5 {
  font-weight: 600
}

.markdown blockquote {
  --tw-border-opacity: 1;
  border-color: rgba(142,142,160,var(--tw-border-opacity));
  border-left-width: 2px;
  line-height: 1rem;
  padding-left: 1rem
}

.markdown ol,.markdown ul {
  display: flex;
  flex-direction: column;
  padding-left: 1rem
}

.markdown ol li,.markdown ol li>p,.markdown ol ol,.markdown ol ul,.markdown ul li,.markdown ul li>p,.markdown ul ol,.markdown ul ul {
  margin: 0
}

.markdown table {
  --tw-border-spacing-x: 0px;
  --tw-border-spacing-y: 0px;
  border-collapse: separate;
  border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
  width: 100%
}

.markdown th {
  background-color: rgba(236,236,241,.2);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  padding: .25rem .75rem
}

.markdown th:first-child {
  border-top-left-radius: .375rem
}

.markdown th:last-child {
  border-right-width: 1px;
  border-top-right-radius: .375rem
}

.markdown td {
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: .25rem .75rem
}

.markdown td:last-child {
  border-right-width: 1px
}

.markdown tbody tr:last-child td:first-child {
  border-bottom-left-radius: .375rem
}

.markdown tbody tr:last-child td:last-child {
  border-bottom-right-radius: .375rem
}

.markdown a {
  text-decoration-line: underline;
  text-underline-offset: 2px
}

.animate-flash {
  -webkit-animation: flash 2s steps(60,start);
  animation: flash 2s steps(60,start)
}

@-webkit-keyframes flash {
  0% {
      background-color: hsla(0,0%,100%,.4)
  }
}

@keyframes flash {
  0% {
      background-color: hsla(0,0%,100%,.4)
  }
}

.truncate {
  overflow: hidden;
  white-space: nowrap
}

.text-ellipsis,.truncate {
  text-overflow: ellipsis
}

.shadow-\[0_0_10px_rgba\(0\2c 0\2c 0\2c 0\.10\)\],
.shadow-lg {
 box-shadow:0 0 transparent,0 0 transparent,var(--tw-shadow);
 box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
}

.group:hover .group-hover\:visible {
  visibility:visible
 }
 .group:hover .group-hover\:from-\[\#2A2B32\] {
  --tw-gradient-from:#2a2b32;
  --tw-gradient-to:rgba(42,43,50,0);
  --tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to)
 }
 .group:hover .group-hover\:text-gray-500 {
  --tw-text-opacity:1;
  color:rgba(142,142,160,var(--tw-text-opacity))
 }
 .group:hover .group-hover\:text-gray-700 {
  --tw-text-opacity:1;
  color:rgba(64,65,79,var(--tw-text-opacity))
 }
 .dark .dark\:prose-invert {
  --tw-prose-body:var(--tw-prose-invert-body);
  --tw-prose-headings:var(--tw-prose-invert-headings);
  --tw-prose-lead:var(--tw-prose-invert-lead);
  --tw-prose-links:var(--tw-prose-invert-links);
  --tw-prose-bold:var(--tw-prose-invert-bold);
  --tw-prose-counters:var(--tw-prose-invert-counters);
  --tw-prose-bullets:var(--tw-prose-invert-bullets);
  --tw-prose-hr:var(--tw-prose-invert-hr);
  --tw-prose-quotes:var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders:var(--tw-prose-invert-quote-borders);
  --tw-prose-captions:var(--tw-prose-invert-captions);
  --tw-prose-code:var(--tw-prose-invert-code);
  --tw-prose-pre-code:var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg:var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders:var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders:var(--tw-prose-invert-td-borders)
 }
 .dark .dark\:border-gray-600 {
  --tw-border-opacity:1;
  border-color:rgba(86,88,105,var(--tw-border-opacity))
 }
 .dark .dark\:border-gray-900\/50 {
  border-color:rgba(32,33,35,.5)
 }
 .dark .dark\:border-gray-700 {
  --tw-border-opacity:1;
  border-color:rgba(64,65,79,var(--tw-border-opacity))
 }
 .dark .dark\:border-white\/20 {
  border-color:hsla(0,0%,100%,.2)
 }
 .dark .dark\:border-white\/10 {
  border-color:hsla(0,0%,100%,.1)
 }
 .dark .dark\:border-black\/20 {
  border-color:rgba(0,0,0,.2)
 }
 .dark .dark\:bg-gray-800 {
  --tw-bg-opacity:1;
  background-color:rgba(52,53,65,var(--tw-bg-opacity))
 }
 .dark .dark\:bg-\[\#444654\] {
  --tw-bg-opacity:1;
  background-color:rgba(68,70,84,var(--tw-bg-opacity))
 }
 .dark .dark\:bg-gray-700 {
  --tw-bg-opacity:1;
  background-color:rgba(64,65,79,var(--tw-bg-opacity))
 }
 .dark .dark\:bg-gray-800\/90 {
  background-color:rgba(52,53,65,.9)
 }
 .dark .dark\:bg-gray-900 {
  --tw-bg-opacity:1;
  background-color:rgba(32,33,35,var(--tw-bg-opacity))
 }
 .dark .dark\:bg-transparent {
  background-color:transparent
 }
 .dark .dark\:bg-white\/10 {
  background-color:hsla(0,0%,100%,.1)
 }
 .dark .dark\:bg-white\/5 {
  background-color:hsla(0,0%,100%,.05)
 }
 .dark .dark\:bg-gray-500 {
  --tw-bg-opacity:1;
  background-color:rgba(142,142,160,var(--tw-bg-opacity))
 }
 .dark .dark\:bg-green-700 {
  --tw-bg-opacity:1;
  background-color:rgba(26,127,100,var(--tw-bg-opacity))
 }
 .dark .dark\:text-gray-100 {
  --tw-text-opacity:1;
  color:rgba(236,236,241,var(--tw-text-opacity))
 }
 .dark .dark\:text-gray-200 {
  --tw-text-opacity:1;
  color:rgba(217,217,227,var(--tw-text-opacity))
 }
 .dark .dark\:text-gray-400 {
  --tw-text-opacity:1;
  color:rgba(172,172,190,var(--tw-text-opacity))
 }
 .dark .dark\:text-white {
  --tw-text-opacity:1;
  color:rgba(255,255,255,var(--tw-text-opacity))
 }
 .dark .dark\:text-white\/50 {
  color:hsla(0,0%,100%,.5)
 }
 .dark .dark\:text-gray-600 {
  --tw-text-opacity:1;
  color:rgba(86,88,105,var(--tw-text-opacity))
 }
 .dark .dark\:text-gray-500 {
  --tw-text-opacity:1;
  color:rgba(142,142,160,var(--tw-text-opacity))
 }
 .dark .dark\:text-gray-300 {
  --tw-text-opacity:1;
  color:rgba(197,197,210,var(--tw-text-opacity))
 }
 .dark .dark\:opacity-100 {
  opacity:1
 }
 .dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  --tw-shadow:0 0 15px rgba(0,0,0,.1);
  --tw-shadow-colored:0 0 15px var(--tw-shadow-color);
  box-shadow:0 0 transparent,0 0 transparent,var(--tw-shadow);
  box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)
 }
 .dark .dark\:ring-gray-600 {
  --tw-ring-opacity:1;
  --tw-ring-color:rgba(86,88,105,var(--tw-ring-opacity))
 }
 .dark .dark\:ring-white\/20 {
  --tw-ring-color:hsla(0,0%,100%,.2)
 }
 .dark .dark\:last\:border-0:last-child {
  border-width:0
 }
 .dark .dark\:hover\:bg-black\/10:hover {
  background-color:rgba(0,0,0,.1)
 }
 .dark .dark\:hover\:bg-gray-700:hover {
  --tw-bg-opacity:1;
  background-color:rgba(64,65,79,var(--tw-bg-opacity))
 }
 .dark .dark\:hover\:bg-gray-900:hover {
  --tw-bg-opacity:1;
  background-color:rgba(32,33,35,var(--tw-bg-opacity))
 }
 .dark .dark\:hover\:bg-gray-100:hover {
  --tw-bg-opacity:1;
  background-color:rgba(236,236,241,var(--tw-bg-opacity))
 }
 .dark .dark\:hover\:bg-gray-500\/10:hover {
  background-color:hsla(240,9%,59%,.1)
 }
 .dark .dark\:hover\:text-gray-200:hover {
  --tw-text-opacity:1;
  color:rgba(217,217,227,var(--tw-text-opacity))
 }
 .dark .dark\:hover\:text-white:hover {
  --tw-text-opacity:1;
  color:rgba(255,255,255,var(--tw-text-opacity))
 }
 .dark .dark\:hover\:text-gray-400:hover {
  --tw-text-opacity:1;
  color:rgba(172,172,190,var(--tw-text-opacity))
 }
 .dark .dark\:focus\:border-white:focus {
  --tw-border-opacity:1;
  border-color:rgba(255,255,255,var(--tw-border-opacity))
 }
 .dark .dark\:focus\:ring-white:focus {
  --tw-ring-opacity:1;
  --tw-ring-color:rgba(255,255,255,var(--tw-ring-opacity))
 }
 .dark .dark\:disabled\:text-gray-400:disabled {
  --tw-text-opacity:1;
  color:rgba(172,172,190,var(--tw-text-opacity))
 }
 .dark .dark\:disabled\:hover\:bg-transparent:hover:disabled {
  background-color:transparent
 }
 .dark .disabled\:dark\:hover\:text-gray-400:hover:disabled {
  --tw-text-opacity:1;
  color:rgba(172,172,190,var(--tw-text-opacity))
 }