#=====================================================================#
#                       LibreChat Configuration                       #
#=====================================================================#
# Please refer to the reference documentation for assistance          #
# with configuring your LibreChat environment.                        #
#                                                                     #
# https://www.librechat.ai/docs/configuration/dotenv                  #
#=====================================================================#

#==================================================#
#               Server Configuration               #
#==================================================#

HOST=localhost
PORT=3080

DOMAIN_CLIENT=$DOMAIN
DOMAIN_SERVER=$DOMAIN

MONGO_AUTO_INDEX=true

#===============#
# Debug Logging #
#===============#

DEBUG_LOGGING=$DEBUG
DEBUG_CONSOLE=false

#===============#
# Configuration #
#===============#

CONFIG_PATH="nj/nj-librechat.yaml"
NODE_EXTRA_CA_CERTS="/etc/ssl/certs/ca-certificates.crt"

#===================================================#
#                     Endpoints                     #
#===================================================#

ENDPOINTS=agents,bedrock

BEDROCK_AWS_DEFAULT_REGION=$AWS_REGION
BEDROCK_AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
BEDROCK_AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
BEDROCK_AWS_MODELS=us.anthropic.claude-sonnet-4-5-20250929-v1:0
GUARDRAIL_ID=${GUARDRAIL_ID}
GUARDRAIL_VERSION=${GUARDRAIL_VERSION}

#============#
# Plugins    #
#============#

DEBUG_PLUGINS=$DEBUG

CREDS_KEY=d0b289b3e9e892364d0c72f7108dfd7de51f7bc8b90d1e6dd7d9fc4229cf569c
CREDS_IV=0dee71d93a4cd7109fdd7c824c6c9f88

#==================================================#
#                      Search                      #
#==================================================#

SEARCH=false

#========================#
# Registration and Login #
#========================#

ALLOW_EMAIL_LOGIN=false
ALLOW_REGISTRATION=false
ALLOW_SOCIAL_LOGIN=true
ALLOW_SOCIAL_REGISTRATION=true
ALLOW_PASSWORD_RESET=false
ALLOW_ACCOUNT_DELETION=false
ALLOW_UNVERIFIED_EMAIL_LOGIN=false

OPENID_CLIENT_ID=$OPENID_CLIENT_ID
OPENID_CLIENT_SECRET=$OPENID_CLIENT_SECRET
OPENID_ISSUER=$OPENID_ISSUER
OPENID_SESSION_SECRET=$OPENID_SESSION_SECRET
# OPENID_REUSE_TOKENS=true
OPENID_AUTO_REDIRECT=true
OPENID_SCOPE=openid profile email
OPENID_REQUIRED_ROLE_TOKEN_KIND=id
OPENID_CALLBACK_URL=/oauth/openid/callback
OPENID_BUTTON_LABEL=Login with NJ Azure AD
OPENID_IMAGE_URL=https://nj.gov/nj/library/logo_nj.png
OPENID_USERNAME_CLAIM=given_name
OPENID_USE_PKCE=true
DEBUG_OPENID_REQUESTS=$DEBUG
USE_ENTRA_ID_FOR_PEOPLE_SEARCH=true
ENTRA_ID_INCLUDE_OWNERS_AS_MEMBERS=true
OPENID_GRAPH_SCOPES=User.Read,People.Read,GroupMember.Read.All,User.ReadBasic.All

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 7

JWT_SECRET=$JWT_SECRET
JWT_REFRESH_SECRET=$JWT_REFRESH_SECRET

#========================#
# Shared Links           #
#========================#

ALLOW_SHARED_LINKS=false
ALLOW_SHARED_LINKS_PUBLIC=false

#===================================================#
#                        UI                         #
#===================================================#

APP_TITLE=NJ AI Assistant

# Blank custom footer (to avoid the default LibreChat footer)
CUSTOM_FOOTER=

# Setting this to "/" disables the help & faq button from appearing
HELP_AND_FAQ_URL=/

#==================#
# Google Analytics #
#==================#
ANALYTICS_GTM_ID=$ANALYTICS_GTM_ID
CSP_SCRIPT_SRC=https://*.googletagmanager.com,https://googletagmanager.com,https://www.google-analytics.com,https://*.nj.gov,https://www.google.com
CSP_CONNECT_SRC=https://*.google-analytics.com,https://www.google-analytics.com,https://analytics.google.com,https://*.googletagmanager.com,https://*.nj.gov,https://www.google.com
