name: Build and Push MIA - LibreChat Container to ACR

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Login to ACR
        run: |
          az acr login --name ${{ vars.ACR_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile.multi
          push: true
          registries: ${{ vars.ACR_REGISTRY_SERVER }}
          tags: |
            ${{ vars.ACR_REGISTRY_SERVER }}/mia-libre-chat:${{ github.sha }}
            ${{ vars.ACR_REGISTRY_SERVER }}/mia-libre-chat:latest