name: Build & Push Docker Images (NJ)

on:
  workflow_dispatch:
  push:
    branches:
      - prod

jobs:
  docker:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - name: Log in to ECR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/newjersey/librechat:${{ github.sha }}
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secret.AWS_REGION }}

      - name: Redeploy dev from latest
        uses: apideck-libraries/ecs-restart-service@v1
        with: 
          service: ${{ secrets.DEV_SERVICE_NAME }}
          cluster: ${{ secrets.DEV_CLUSTER_NAME }}
